.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    z-index: -1;

    @media (min-width: 1024px) {
        flex-basis: 500px;
    }

    &__input {
        margin: 5px 0;
        padding: 10px;
    }

    &__textarea {
        margin: 5px 0;
        padding: 10px;
        height: 200px;
    }

    &__button {
        padding: 10px;
        margin: 10px 0;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;

        @media (min-width: 1024px) {
            transition: transform .1s linear;
        }
    }



    &__button:hover {
        @media (min-width: 1024px) {
            transform: scale(1.05);
        }
    }

}