.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: red;
    margin: auto auto 30px;

    &__a {
        text-decoration: none;
        color: white;
        width: 90%;
        margin: 5px;
    }

    &__button {
        font-family: 'Mitr', sans-serif;
        font-weight: 700;
        font-size: 32px;
        text-transform: capitalize;
        letter-spacing: 3px;
        padding: 10px 0;
        outline: none;
        border: none;
        background: transparent;
        color: white;
    }

    &__category {
        background-color: blue;
        height: 200px;
        background-size: cover;
    }

    &__category-painting {
        background-image: url(../../img/portfolio/painting/painting.jpg);
    }

    &__category-fabric {
        background-image: url(../../img/portfolio/fabric/fabric_400.jpg);
    }

    &__category-other {
        background-image: url(../../img/portfolio/other/other.jpg);
        background-position: 0 110%;
    }
}