.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto auto 30px;

    @media (orientation: landscape) {
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        height: 50vh;
        flex-direction: row;
        margin: 35px auto 30px;
        // flex-wrap: wrap;
    }

    @media (min-height: 600px) {
        flex-wrap: wrap;
    }

    &__a {
        text-decoration: none;
        color: white;
        width: 90%;
        margin: 5px;
        flex-basis: 32%;
    }

    &__button {
        font-family: 'Mitr', sans-serif;
        font-weight: 700;
        font-size: 32px;
        text-transform: capitalize;
        letter-spacing: 3px;
        padding: 10px 0;
        outline: none;
        border: none;
        background: transparent;
        color: white;

        @media (min-width: 800px) {
            margin: 0 auto;
        }

        @media (min-width: 1024px) {
            transition: transform 0.2s;
        }
    }

    &__button:hover {
        @media (min-width: 1024px) {
            transform: scale(1.2);
        }
    }

    &__category {
        height: 200px;
        background-size: cover;
        background-position: center;
        position: relative;

        @media (min-width: 500px) {
            height: 300px;
        }

        @media (min-width: 800px) {
            height: 350px;
        }

        @media (min-width: 900px) {
            height: 600px;
        }

        @media (min-width: 1024px) {
            filter: grayscale(1);
            transition: filter 0.3s;
            overflow: hidden;
        }
    }

    &__category:hover {
        @media (min-width: 1024px) {
            filter: grayscale(0);
        }
    }

    &__name {
        text-transform: capitalize;
        text-align: center;
        padding: 10px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        bottom: 0;
        width: 100%;

        @media (min-width: 1024px) {
            line-height: 30px;
            transition: transform 0.3s;
        }
    }

    &__category:hover &__name {
        transform: scale(1.1);
    }

    &__category-painting {
        background-image: url(../../img/portfolio/painting/painting.jpg);
    }

    &__category-fabric {
        background-image: url(../../img/portfolio/fabric/fabric_400.jpg);
    }

    &__category-other {
        background-image: url(../../img/portfolio/other/other.jpg);
        background-position: 0 100%;
    }

    &__category-watercolor {
        background-image: url(../../img/portfolio/painting/watercolor/watercolor.jpg);
        background-position: 0 15%;
    }

    &__category-landscape {
        background-image: url(../../img/portfolio/painting/landscape/landscape.jpg);
    }

    &__category-abstraction {
        background-image: url(../../img/portfolio/painting/abstraction/abstraction.jpg);
        background-position: 0 5%;
    }

    &__category-printed {
        background-image: url(../../img/portfolio/fabric/printed/printed.jpg);
    }

    &__category-unique {
        background-image: url(../../img/portfolio/fabric/unique/unique.jpg);
    }

    &__category-realizations {
        background-image: url(../../img/portfolio/fabric/realizations/realizations.jpg);
        background-position: 0 30%;
    }

    &__category-sketches {
        background-image: url(../../img/portfolio/other/sketches/sketches.jpg);
        background-position: 0 25%;
    }

    &__category-drawing {
        background-image: url(../../img/portfolio/other/drawing/drawing.jpg);
        background-position: 0 5%;

    }

    &__category-stepbystep {
        background-image: url(../../img/portfolio/other/stepbystep/stepbystep.jpg);
        background-position: 0 15%;
    }
}