.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: red;
    margin: auto;

    &__a {
        text-decoration: none;
        color: white;
        width: 90%;
        margin: 5px;
    }

    &__category {
        background-color: blue;
        height: 200px;
    }
}