@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;700&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import "~react-image-gallery/styles/scss/image-gallery.scss";

// font-family: 'Mitr', sans-serif;
// font-family: 'Varela', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela', sans-serif;
    // min-height: 100vh;
    // height: 100vh;
    background-color: #4d4d4d;
    font-size: 16px;
}

#root {
    // overflow-x: hidden;
    // min-height: 100vh;
    // height: 151vh;
    position: relative;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;

    @media (min-width: 1024px) {
        display: none;
    }
}