@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;700&family=Varela&display=swap');

// font-family: 'Mitr', sans-serif;
// font-family: 'Varela', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    // min-height: 100vh;
    height: 100%;
    background-color: #4d4d4d;
    font-size: 16px;
}

#root {
    // overflow: hidden;
    min-height: 100vh;
    // height: 151vh;
    position: relative;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;

    @media (min-width: 1024px) {
        display: none;
    }
}