.nav {
    &__logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url(../../img/logo/logo_100.jpg);
        margin: 0 10px;
        transform: translateY(-10px);
    }
}