.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    margin: 10px 0 35px;
    padding: 10px;

    @media (min-width: 600px) {
        padding: 10px 50px;
    }

    @media (min-width: 1024px) {
        padding: 90px 10px;
        flex-basis: 650px;
        background-color: transparent;
    }

    &__a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: 700;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: 100px;
        width: 100px;

        @media (min-width: 600px) {
            width: 150px;
        }

        @media (min-width: 1024px) {
            width: 200px;
            transition: transform .2s;
        }
    }

    &__link:hover {
        @media (min-width: 1024px) {
            transform: scale(1.1);
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4D4D4D;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        color: black;
        font-size: 40px;

        @media (min-width: 600px) {
            width: 120px;
            height: 120px;
            font-size: 75px;
        }

        @media (min-width: 1024px) {
            width: 150px;
            height: 150px;
            font-size: 100px;
        }
    }

    &__name {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;

        @media (min-width: 600px) {
            font-size: 18px;
        }

        @media (min-width: 1024px) {
            font-size: 22px;
            margin-top: 10px;
        }
    }

    &__name-mail {
        text-transform: lowercase;
    }

}